@import url("css/all.min.css");
@font-face {
	font-family: Vazir;
	src: url('webfonts/Vazir-Medium-FD.eot');
	src: url('webfonts/Vazir-Medium-FD.eot?#iefix') format('embedded-opentype'),
		 url('webfonts/Vazir-Medium-FD-FD.woff2') format('woff2'),
		 url('webfonts/Vazir-Medium-FD.woff') format('woff'),
		 url('webfonts/Vazir-Medium-FD.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: Vazir;
	src: url('webfonts/Vazir-Bold-FD.eot');
	src: url('webfonts/Vazir-Bold-FD.eot?#iefix') format('embedded-opentype'),
		 url('webfonts/Vazir-Bold-FD-FD.woff2') format('woff2'),
		 url('webfonts/Vazir-Bold-FD.woff') format('woff'),
		 url('webfonts/Vazir-Bold-FD.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: Vazir;
	src: url('webfonts/Vazir-Black-FD.eot');
	src: url('webfonts/Vazir-Black-FD.eot?#iefix') format('embedded-opentype'),
		 url('webfonts/Vazir-Black-FD-FD.woff2') format('woff2'),
		 url('webfonts/Vazir-Black-FD.woff') format('woff'),
		 url('webfonts/Vazir-Black-FD.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: Vazir;
	src: url('webfonts/Vazir-Medium-FD.eot');
	src: url('webfonts/Vazir-Medium-FD.eot?#iefix') format('embedded-opentype'),
		 url('webfonts/Vazir-Medium-FD-FD.woff2') format('woff2'),
		 url('webfonts/Vazir-Medium-FD.woff') format('woff'),
		 url('webfonts/Vazir-Medium-FD.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: Vazir;
	src: url('webfonts/Vazir-Light-FD.eot');
	src: url('webfonts/Vazir-Light-FD.eot?#iefix') format('embedded-opentype'),
		 url('webfonts/Vazir-Light-FD-FD.woff2') format('woff2'),
		 url('webfonts/Vazir-Light-FD.woff') format('woff'),
		 url('webfonts/Vazir-Light-FD.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: Vazir;
	src: url('webfonts/Vazir-Thin-FD.eot');
	src: url('webfonts/Vazir-Thin-FD.eot?#iefix') format('embedded-opentype'),
		 url('webfonts/Vazir-Thin-FD-FD.woff2') format('woff2'),
		 url('webfonts/Vazir-Thin-FD.woff') format('woff'),
		 url('webfonts/Vazir-Thin-FD.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}
* {
	padding: 0px;
	margin: 0px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
li {
	list-style: none;
}
a {
	text-decoration: none;
	color: inherit;
}
img {
	border: 0px;
}
html[dir=rtl] {
	direction: rtl;
	text-align: right;
	font-family: Vazir;
}
.container {
	width: 90%;
	margin: auto;
}
#topBar {
	background: #2A45E0;
	color: white;
	height: 35px;
	line-height: 35px;
	font-size: 14px;
}
#topBarAccount {
	float: right;

}
#topBarAccount i {
	color: #ffa800;
}
#topBarMenu {
	float: left;
	padding-top: 9px;
	padding-bottom: 9px;
}
#topBarMenu li:last-child {
	border-left: 0px;
}
#topBarMenu li {
	float: right;
	padding-right: 11px;
	padding-left: 11px;
	border-left: 1px solid #030a33;
	line-height: 15px;
}
#topBarMenu li:hover {
	color: #ffa800;
}
#header {
	width: 100%;
	float: right;
	padding-top: 35px;
	padding-bottom: 35px;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
}
#headerLogo {
}
#nav {
	width: 100%;
	float: right;
	border-bottom: 1px solid #eee;
	height: 65px;
}
#navMenu {
	float: right;
	height: 65px;
}
#navMenu li a {
	padding-left: 17px;
	padding-right: 17px;
	padding-top: 6px;
	padding-bottom: 6px;
	line-height: 63px;
}
#navMenu li {
	height: 65px;
	float: right;
	border-bottom: 2px solid transparent;
}
#navMenu li:hover {
	color: #2A45E0;
	border-bottom: 2px solid #2A45E0;
}
#navMenu li:hover ul {
	display: block;
}
#navMenu li ul {
	display: none;
	position: absolute;
	width: calc(100% - 12px);
	padding: 6px;
	height: auto;
	right: 0;
	margin-top: 2px;
	opacity: 0.97;
	background-color: #fff;
	border-bottom: 1px solid #eee;
	padding-bottom: 40px;
	padding-top: 40px;
}
#navButton {
	float: left;
	padding-top: 12px;
	padding-bottom: 12px;
}
.button-header {
	float: right;
	padding: 8px;
	text-align: center;
	margin-left: 20px;
	border: 1px solid;
	border-radius: 5px;
}
.button-header.orange {
	border-color: #ffad0f;
	color: #ffad0f;
}
.button-header.orange:hover {
	background: #ffad0f;
	color: white;
}
.button-header.green {
	border-color: #2ecc71;
	color: #2ecc71;
}
.button-header.green:hover {
	background: #2ecc71;
	color: white;
}
.navMenuRow {
	float: right;
	width: 100%;
}
.navMenuColumn {
	width: 25%;
	float: right;
}
.navMenuTitle {
	width: 100%;
	float: right;
	margin-bottom: 15px;
}
.navMenuTitle i {
	float: right;
}
.navMenuTitle h3 {
	float: right;
	line-height: 15px;
}
.navMenuTitle p {
	width: 100%;
	display: inline-block;
	color: gray;
}
.navMenuColumn li {
	width: 100%;
	margin-right: 25px;
	list-style: disc;
	color: #423f3f;
	padding: 0px !important;
	margin: 0px !important;
	margin-right: 25px !important;
	line-height: normal !important;
	height: auto !important;
	border-bottom: 0px !important;
}
.navMenuColumn a {
	padding: 0px !important;
	line-height: normal !important;
}
.navMenuColumn li:hover {
	color: #2A45E0;
	border-bottom: 0px !important;
	/*margin-right: 30px !important;*/
}
.center {
	text-align: center;
}
#footer {
	width: 100%;
	height: auto;
	float: right;
	background: #031043;
	color: #999CA9;
}
#footerRow {
	width: 100%;
	height: auto;
	float: right;
	margin-top: 20px;
	margin-bottom: 15px;
} 
.footerColumn {
	width: 31%;
	margin-left: 1%;
	margin-right: 1%;
	float: right;
}
.footerColumn h6 {
	font-size: 16px;
	border-bottom: 1px solid #31438c;
	padding-bottom: 6px;
}
.footerColumn ul {
	margin-right: 25px;
}
.footerContent {
	margin-top: 15px;
	margin-bottom: 20px;
}
.footerColumn ul li {
	color: white;
	font-size: 14px;
	list-style: disc;
}
#footerBottom {
	width: 100%;
	height: auto;
	float: right;
	background: #020A2B;
	color: white;
}
.footerPadding {
	padding: 12px;
}
#footerSocials {
	float: left;
}
#footerSocials li {
	display: inline-block;
	margin-left: 12px;
	margin-right: 12px;
	color: #999CA9;
	font-size: 9px;
}
#footerSocials li:hover {
	color: white;
}
.footerColumn .footerSupportItem {
	width: 100%;
	float: right;
	margin-top: 4px;
	margin-bottom: 4px;
}
.footerSupportItem i {
	float: right;
	margin-left: 15px;
}
.footerColumn .phone {
	font-size: 30px;
	background: #0C1A50;
	padding: 25px 23px 25px 23px;
	color: #31438C;
	border-radius: 3px;
}
.footerColumn .dl-horizontal {
	color: #fff;
	text-align: right;
	font-size: 11px;
	margin-top: 6px;
}
.footerColumn .dl-horizontal dt {
	line-height: 15px;
	margin-top: 3px;
	float: right;
	padding-left: 10px;
}
.footerColumn .dl-horizontal dd {
	line-height: 22px;
	/* width: 42%; */
}
